html, body {
    font-size: 12px;
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
}

/*-------------------------NAV-------------------------*/

nav {
    align-items: center;
    background-color: #7ACC2D;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.brand_image img {
    height: 40px;
    width: 40px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding-left: 20px;
}

nav li a {
    color: black;
    font-weight: 550;
    text-decoration: none;
}

nav li a:hover{
    color: white;
}

/*-------------------------Main section-------------------------*/

main {
    padding: 15%;
    text-align: center;
}

/*-------------------------Productos-------------------------*/

.products {
    background-image: url("../images/curve.png");
    background-position: center top;
    background-size: cover;
    display: flex;
    max-height: 50px;
    padding: 20%;
}

.product { 
    margin-top: -300px;
    padding: 10px;
}

.product .content{
    background-color: white;
    box-shadow: 0 0 2px rgb(151, 151, 151);
    padding: 15px;
}

.image_content {
    text-align: center;
}

.main_button {
    background-color: #7ACC2D;
    border: 0;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.main_button:hover {
    background-color: #4f851d;
}
