html, body {
    font-size: 12px;
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
}

/*-------------------------NAV-------------------------*/

nav {
    align-items: center;
    background-color: #52cc2d;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding-left: 20px;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li a:hover{
    color: white;
}

/*-------------------------Main section-------------------------*/

main {
    background-color: rgb(239, 239, 239);
    padding: 15%;
    text-align: center;
}

/*-------------------------Productos-------------------------*/

.products {
    background-image: url("../images/curve.png");
    background-position: center top;
    background-size: cover;
    display: flex;
    height: 80px;
    padding: 15%;
}

.product { 
    padding: 10px;
}

.product .content{
    background-color: white;
    padding: 20px;
}