/*container > row > column*/

/*CONTAINER*/
.container {
    margin: auto;
    max-width: 900px;
    padding-top: calc(var(--space) * 10);
    padding-bottom: calc(var(--space) * 10);
}

.container h1 {
    padding-left: 10px;
    margin-bottom: 100px;
}

.container h1, [class*="col-"] h2 {
    font-family: var(--brush);
}

/*ROW*/

.row {
    display: flex;
    margin-bottom: calc(var(--space) * 10);
}

/*COLUMN SIZE CALCULATION*/

.col-1 {
    width: var(--col-width);
}

.col-2 {
    width: calc(var(--col-width)*2);
}

.col-3 {
    width: calc(var(--col-width)*3);
}

.col-4 {
    width: calc(var(--col-width)*4);
}

.col-5 {
    width: calc(var(--col-width)*5);
}

.col-6 {
    width: calc(var(--col-width)*6);
}

.col-7 {
    width: calc(var(--col-width)*7);
}

.col-8 {
    width: calc(var(--col-width)*8);
}

.col-9 {
    width: calc(var(--col-width)*9);
}

.col-10 {
    width: calc(var(--col-width)*10);
}

.col-11 {
    width: calc(var(--col-width)*11);
}

.col-12 {
    width: 100%;
}

/*[class*="col-"] es para elegir todas las clases que comiencen con "col-"*/

[class*="col-"] {
    padding: var(--space);
} 

[class*="col-"] img {
    height: 175px;
    width: auto;
}

[class*="col-"] p {
    font-family: var(--black-tin-box);
    font-size: calc(var(--normal) * 1.5);
}

/*MÁS RESPONSIVE*/

@media (max-width: 900px) {
    .container h1{
        
        text-align: center;
    }

    .row
     {
        display: box;
        display: -moz-box;
        display: -webkit-box;
        margin-right: auto;
        text-align: center;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
    }

    [class*="col-"] {
        box-sizing: border-box;
        width: 100%;
    }

    .blockA {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
        text-align: center;
    }

    .blockB {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
        text-align: center;
    }
}

.desc { 
    padding-top: calc(var(--space) * 5);
}
